/*태그 지정 시작*/

body {
  margin: 0%;
}

header {
  border: 20px ridge gold;
  padding: 25px;
  text-align: center;
  background-color: cornflowerblue;
  color: coral;
  font-size: 70px;
  font-weight: 700;
  text-shadow: 7px 7px 7px #000;
}

footer {
  text-align: center;
  background-color: black;
  color: wheat;
}

blockquote {
  display: inline;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  font-weight: 600;
  line-height: 200%;
}

blockquote::before {
  content: "“";
  color: cornflowerblue;
  font-size: 70px;
}
blockquote::after {
  content: "”";
  color: cornflowerblue;
  font-size: 70px;
}

/*태그 지정 끝*/

/*클래스 지정 시작*/
.ddaom {
  font-size: 100px;
  color: cyan;
  font-weight: 1000;
  display: inline;
}
/*클래스 지정 끝*/

/*id 지정 시작*/
#what_is_bbq {
  display: flex;
  padding: 20px;
}
#easter {
  color: black;
  font-size: 15px;
}

#footbox1 {
  font-size: 30px;
  height: 90px;
  line-height: 550%;
  font-weight: 700;
}

#bbqimg1 {
  width: 500px;
  height: 370px;
  padding: 0%;
  margin: 0%;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}

#minip {
  font-size: 20px;
  color: black;
  text-shadow: none;
}

#why_the_hell {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  line-height: 50px;
}

#look_here {
  color: salmon;
  font-size: 40px;
}

#linker {
  text-align: center;
}

#epic_bbq_guy {
  width: 400px;
  height: 350px;
}

#fantasy {
  width: 200px;
  height: 100px;
  font-size: 25px;
  font-weight: 550;
  color: blueviolet;
  background-color: yellowgreen;
  border: none;
  border-radius: 15px;
}

/*id 지정 끝*/
